/node_modules
/public/blog
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vs
/.idea
/.vscode
/public/blog/
/public/blog.bak/
*.swp
notes.txt
